---
---

@import "{{ site.theme }}";
#content{
  background-color: black;
}
head{
  background-image: linear-gradient(45deg, green, white) !important;
}
body{
  background-image: linear-gradient(45deg, red, black) !important;;
}
h1 {
  color: red;
}
h2 {
  color: red;
}
.page-header{
  color:red;
  background-color: black;
  background-size: 600px 502px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
}

@media (min-width:320px)  
  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  
  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  
  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  
  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
    .page-header{
    background-image: url(https://github.com/chordcore/chordcore.github.io/raw/main/clientsbg.png);
  }
@media (min-width:1025px) 
  { /* big landscape tablets, laptops, and desktops */ }
    .page-header{
    background-image: url(https://github.com/chordcore/chordcore.github.io/raw/main/clientsbg.png);
  }
@media (min-width:1281px) 
  { /* hi-res laptops and desktops */ 
    .page-header{
    background-image: url(https://github.com/chordcore/chordcore.github.io/raw/main/clientsbg.png);
  }
}
