---
---

@import "{{ site.theme }}";
#content{
  background-color: black;
}
.page-header{
  align-content: left;
  background-color: linear-gradient(45deg, red, black);
  background-size: 600px 502px;
  background-image: url(https://github.com/chordcore/chordcore.github.io/raw/main/clientsbg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
}
